div .carousel-item slider-fullscreen-image {
	background-image: url(https://i.pinimg.com/736x/53/02/5e/53025e012c9a1555a510dac8ba79e9ff.jpg);
}

h4 .mbr-fonts-style .display-2 {
	font-size: small;
}
h4 .mbr-fonts-style .display-5 {
	font-size: small;
}
